 .menu a {
     padding: 10px 20px;

     color: black;
     font-size: 16px;
     font-weight: 700;
     margin-left: 10px;
    
 }

 a.active {
     border-bottom: 4px solid  #16A34A;
     color: #16A34A;
 }

 .shadow {
     box-shadow: 1px 1px 10px;
 }