 .menu a{
    padding: 10px 20px;
    background-color: red;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
    border-radius: 5px;
}

.menu a .active{
   border-bottom: 2px solid black;
}

.shadow{
    box-shadow: 1px 1px 10px;
}